* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.container {
  width: 100%;
  height: 100%;
  background-color: #f4f0e0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
}

/* HEADER */
.header {
  grid-column: 1/-1;
  background-color: #fff;
  z-index: 10000000;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 70px;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}

/* LEFT PART OF HEADER */
.left-header {
  display: flex;
  align-items: center;
}
.logo > h2 {
  font-size: 25px;
}

/* RIGHT PART OF HEADER */
.right-header {
  display: flex;
  align-items: center;
}

/* DROPDOWN BUTTON */
.section-dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}
.section-button {
  background-color: #fff;
  border: none;
  padding: 16px;
  font-weight: 600;
}
.arrow {
  border: solid #000;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.section-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.section-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.section-dropdown:hover .section-content {
  display: block;
}
.section-content a:hover {
  background-color: #ddd;
}
.section-dropdown:hover .section-button {
  background-color: #fff;
}
.section-button {
  cursor: pointer;
  font-size: 12px;
}

/* NAVIGATION BUTTONS */
.about-us-b,
.my-projects-b,
.services-b {
  background-color: #fff;
  border: 0;
  margin-right: 10px;
  padding: 10px;
}
.about-us-b,
.contact-us-b,
.logo,
.my-projects-b,
.services-b {
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.contact-us-b {
  background-color: rgba(0, 0, 0, 0.916);
  border-radius: 5px;
  border: 0;
  color: #fff;
  padding: 20px;
  font-size: 11px;
}

/* MEDIA QUERY */
@media (min-width: 768px) {
  .ham {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .logo {
    font-size: 20px;
    margin-right: 0;
  }
  .footer,
  .header,
  .main {
    grid-column: 1/-1;
    gap: 0;
  }
  .header {
    padding: 0 1vh;
  }
  .right-header {
    display: none;
  }

  /* HAMBURGER MENU */
  .ham {
    margin-top: 10px;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 15px;
    gap: 5px;
  }
  .hamburger div {
    width: 30px;
    height: 4px;
    background: #333;
    transition: 0.3s;
  }
  input[type="checkbox"] {
    display: none;
  }
  .menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    transition: all 0.3s ease;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
  }
  .menu a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    text-align: center;
    border: 0;
  }
  .menu a:first-child {
    border-top: none;
  }
  .menu a:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  input[type="checkbox"]:checked ~ .menu {
    display: flex;
  }
  input[type="checkbox"]:checked ~ .hamburger div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  input[type="checkbox"]:checked ~ .hamburger div:nth-child(2) {
    opacity: 0;
  }
  input[type="checkbox"]:checked ~ .hamburger div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
